*{
    margin: 0;
    padding: 0;
}

body {
    background-color:#85BAA1;
}

.font-delirius {
    font-family: 'Delius Unicase', cursive;
}

.font-comingSoon {
    font-family: 'Coming Soon', cursive;
}

h1-bg {
    background-color: #2CA58D; 
    color: #CEEDDB;
} 

header-bg {
    background-color: #F46197;
}





