*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #361134;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.itemsContainers {
    display: flex;
    justify-content: space-between;   
}

.itemsContainerAround {
    display: inline-flex;
    justify-content: space-around;
    
}


.flex-flowNoW {
    flex-flow: row nowrap;
}

.itemCenter {
    display: flex;
    justify-content: center;
}

.img {
    width: 200px;
    height: 100%;
    border-radius: 500px;
}

.m-img {
    margin-top: 20px; 
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

section p {
    width: 45%;
    text-align: justify;
}

header {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.4em;
    font-family: 'Delius Unicase', cursive;
    background: #B0228C;
    color: white;
    text-align: center;
}

.aUno {
    font-size: 1.5em;
    font-family: 'Coming Soon', cursive;
    display: inline-block;
    color: #378880;
    padding: 10px;
}

.aUno:hover {
    background-color: azure;
}

nav {
    background: #95FFCF;
}

.aDos {
    font-size: 1em;
    font-family: 'Coming Soon', cursive;
    display: inline-block;
    color: #1C3580;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.menuParrafos {
    background-color: #F391A0;
    width: 30%;
    text-align: center;
    border-radius: 20px;
}

p{
    font-family: 'Coming Soon', cursive;
    margin-left: -10px;
    color: #378880;
}

.mt-parrafos {
    margin-top: 30px;
}

span {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color: azure;
}  

.sectionImg {
    display: flex;
    justify-content: flex-start;
}

#textoOrigen {
    visibility: hidden;   
}

#textoHistoria {
    visibility: hidden;
}